body {
    background-color:#e8e8e8;
    font-family: 'Roboto', sans-serif;
    
}

h1,
h2,
h3{
    font-family: 'Montserrat', sans-serif;
}

b{
    font-weight:700;
    color: black;
}

/*remove the dots of the unorders list 
and remove the padding of the removed dots*/
ul {
    list-style: none;
    padding:0;
}


.menu li a,
.myinformation a{
    text-decoration: none;
    color:black;
}

.menu li a:hover{
    text-decoration: underline;
}

/*------Left bar------------------------------------------------------------*/
/*Make the space for the fixed items on the left*/
.content{
    padding: 20px 30px 20px 250px;
}

@media (min-width:1200px){
   .content{
    padding: 20px 250px 20px 30%;
 } 
.photo {
    margin-left:10%;
 }
}

/*Make the photo section fixed and centered*/
.photo{
    position:fixed;
    text-align: center;
}
.photo img {
    height:150px;
    width:150px;
    border-radius:50%;
}

/*Align skills text*/
.skills p{
    text-align: left;
    margin-left:40px;
}

/*Progress bars format*/
.background-progress{
    height:20px;
    width: 125px;
    border-radius: 22px;
    background-color:white;
    margin: 0 auto;

}
.inner-progress{
    height:20px;
    border-radius: 22px;
    background-image:linear-gradient(-225deg,#1686d9,#8fd3c4);
    
}

.inner-progress:hover{
    background-image:linear-gradient(-225deg,#1277c5,#83c4b6);
}

/*Width according to each skill*/
.firstskill {
    width:80%;
}

.secondskill{
    width:70%;
}

.thirdskill{
    width:70%;
}

.fourthskill{
    width:60%;
}

.fifthskill{
    width:100%;
}

/*----Card content-----------------------------------------------------------*/
/*Make the cards of the contect white and with round corners*/
.cards{
    background-color:white;
    padding:10px 20px;
    border-radius: 10px;
}

/*Make the cards except the first one have a top margin*/
.education,
.experience,
.portfolio{
    margin-top: 20px;
}

/*-----My information--------------------*/

.myinformation li{
    margin: 3px auto;
}
.fa-linkedin{
    color:#0077B5;
}


/*-----Education and Experience Section--------------------*/

/*add space between each section*/
.educationblock,
.experienceblock{
    margin-bottom: 30px;
}

/*Remove the paragraph margin*/
.educationblock p,
.experienceblock p{
     margin:0;
}

/*Add a space to the description of each section*/
.experienceblock .description,
.educationblock .description{
    margin-top:15px;
}




/*-----Portfolio---------------------------------------------------------------*/

.portfolio img{
    display:inline-block;
    width:90px;
    height:90px;
}

/*----Mobile----------------------------------*/
@media only screen and (max-width: 765px){

/*Remove fixed*/
.photo{
    position:static;
    
}

/*Change My picture size*/
.photo img {
    height:250px;
    width:250px;
    border-radius:50%;
}

/*Remove padding of the content*/
.content{
    padding: 0;
}

/*Change Menu to be horizontal*/
.menu li{
    display: inline-block;
    margin:30px 10px;
    font-size: 18px;
}


/*Expand the progress bars*/

.background-progress{
    height:20px;
    width: 350px;
    border-radius: 22px;
    background-color:white;
    
    margin: 0 auto;
}

.skills p{
    margin-left:15%;
}

/*Add a space between the div and the hr*/
.progressmobile {
    margin-bottom:20px; 
}

}


